.git
.gitignore
.env
node_modules
vendor
tests
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.phpunit.result.cache
phpunit.xml
README.md
Docker*
